<div id="modal-simple-failure" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h6 id="modal-tablesLabel">Finance Institute</h6>
  </div>
  <div class="modal-body">
    <i class='icon-remove icon-4x icon-red align-center'></i>
    <div class="align-center">
      Almost,try again. 
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" data-dismiss="modal">Close</button>
  </div>
</div>