<div id="modal-simple-success" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h6 id="modal-tablesLabel">Finance Institute</h6>
  </div>
  <div class="modal-body">
    <i class='icon-ok icon-4x icon-green align-center'></i>
    <div class="modal-text">
      Congratulation! Nice Job.
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" data-dismiss="modal">Close</button>
    <button class="btn btn-blue" id="successButton">Next step</button>
  </div>
</div>