<div id="modal-simple" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h6 id="modal-tablesLabel">Finance Institute</h6>
  </div>
  <div class="modal-body">
    <i class='icon-ok icon-4x icon-green'id='stepSuccess'></i>
    <i class='icon-remove icon-4x icon-red'id='stepFailure'></i>
    <div id="modal-text">
      Cool stuff eh?
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" data-dismiss="modal">Close</button>
    <button class="btn btn-blue">Save changes</button>
  </div>
</div>