<div class="checkAnswer">
	<%= form_for(current_user.user_steps.find_by_step_id(@step.id), html: { method: :delete }, remote: true) do |f| %>
      <%= f.submit "remove step", class: "btn btn-large" %>
    <% end %>
</div>