<div class="sidebar-background">
  <div class="primary-sidebar-background"></div>
</div>


<div class="primary-sidebar">

 <!-- Main nav -->
  <ul class="nav nav-collapse collapse nav-collapse-primary">


            <li class="active">
              <span class="glow"></span>
              <a href="dashboard.html">
                  <i class='icon-info-sign icon-2x'></i>
                  <span>Video</span>
              </a>
            </li>

            <li>
              <span class="glow"></span>
              <a href="dashboard.html">
                  <i class="icon-dashboard icon-2x"></i>
                  <span>Step 1</span>
              </a>
            </li>


            <li class="dark-nav ">
              <span class="glow"></span>
             <a class="accordion-toggle collapsed " data-toggle="collapse" href="#zwz2Ux5SfP">
                  <i class="icon-beaker icon-2x"></i>
                  <span>Step 2</span>
              </a>
            </li>

        
            <li class="">
              <span class="glow"></span>
              <a href="../forms/forms.html">
                  <i class="icon-edit icon-2x"></i>
                  <span>Step 3</span>
              </a>
            </li>

        
            <li class="">
              <span class="glow"></span>
              <a href="../charts/charts.html">
                  <i class="icon-bar-chart icon-2x"></i>
                  <span>Step 4</span>
              </a>
            </li>

            <li class="dark-nav ">
              <span class="glow"></span>
              <a class="accordion-toggle collapsed " data-toggle="collapse" href="#3z2CycFSTz">
                  <i class="icon-link icon-2x"></i>
                    <span>Step 5</span>
              </a>
            </li>  
  </ul>

  <div class="hidden-tablet hidden-phone">
    <div class="text-center" style="margin-top: 60px">
      <div class="easy-pie-chart-percent" style="display: inline-block" data-percent="89"><span>89%</span></div>
      <div style="padding-top: 20px"><b>Percent Complete</b></div>
    </div>

    <hr class="divider" style="margin-top: 60px">

    <div class="sparkline-box side">

      <div class="sparkline-row">
        <h4 class="gray"><span>Orders</span> 847</h4>
        <div class="sparkline big" data-color="gray"><!--<%= random_numbers(12).join(",") %>--></div>
      </div>

      <hr class="divider">
      <div class="sparkline-row">
        <h4 class="dark-green"><span>Income</span> $43.330</h4>
        <div class="sparkline big" data-color="darkGreen"><!--<%= random_numbers(12).join(",") %>--></div>
      </div>

      <hr class="divider">
      <div class="sparkline-row">
        <h4 class="blue"><span>Reviews</span> 223</h4>
        <div class="sparkline big" data-color="blue"><!--<%= random_numbers(12).join(",") %>--></div>
      </div>

      <hr class="divider">
    </div>
  </div>

</div>