body { 
	padding-top: 60px; 
}

/* Course Creator */

.courseCreator { 
	background-color: #CECEF6;
	border-style: solid;
	border-color: #CECEF6;
	border-width: 5px;
	-moz-border-radius: 15px;
    border-radius: 15px;
	margin-bottom: 3px;
	padding: 10px;
}

.levelCreator {
	background-color: #E0E0F8;
	border-style: solid;
	border-color: #E0E0F8;
	border-width: 3px;
	-moz-border-radius: 15px;
    border-radius: 15px;
	margin-left: 15px;
	margin-bottom: 15px;
	padding: 10px;

}

.stepCreator {
	background-color: #EFFBFB;
	border-style: solid;
	border-color: #EFFBFB;
	border-width: 1px;
	-moz-border-radius: 15px;
    border-radius: 15px;
	margin-left: 15px;
	margin-bottom: 2px;
	margin-right: 15px;
	padding: 10px;
}

.remove_fields {
	margin-bottom: 10px;
}

.add_fields {
	margin-top: 10px;
	margin-left: 15px;
}

.save {
	display: block;
	margin-top: 15px;
	margin-left: 45%;
}